@model Domain.Entities.Quiz

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1 class="text-danger text-center">Delete Quiz #@Html.DisplayFor(model => model.QuizID)</h1>
<h6 class="text-center"><i class="text-muted">This cannot be undone</i></h6>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4 text-info">
            @Html.DisplayNameFor(model => model.Score)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Score)
        </dd>
        <dt class = "col-sm-4 text-info">
            Questions
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.NumberOfQuestions)
        </dd>
        <dt class = "col-sm-4 text-info">
            @Html.DisplayNameFor(model => model.Topic)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Topic.Description)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="QuizID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" asp-controller="UserContent">Back to List</a>
    </form>
</div>
