@model WebUI.ViewModels.QuizViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>

    <h2 class="text-primary text-center">Details for Quiz #@Html.DisplayFor(model => model.QuizID)</h2>

<body>
    <div class="container">
        <hr />
        <dl class="row">
            <dt class="col-sm-4 text-info font-weight-bold">
                Topic
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.TopicDescription)
            </dd>
            <dt class="col-sm-4 text-info font-weight-bold">
                @Html.DisplayNameFor(model => model.Score)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Score)%
            </dd>
        </dl>
        <br />
        <table class="table-hover table-condensed">
            <thead class="text-info">
                <tr><th class="text-center text-info">Questions on this quiz</th></tr>
                <tr>
                    <th>
                        Body
                    </th>
                    <th>
                        Answer
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Questions)
                {
                    <tr>
                        <td style="padding-right:4%">
                            @Html.DisplayFor(modelItem => item.Body)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Answer)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
        <a class="btn btn-outline-primary" asp-controller="UserContent" asp-action="Index">Back to List</a>
    </div>
    
</body>

    
<div>
    
</div>