@model Domain.Entities.Quiz

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-primary text-center">Details</h1>
<h5 class="text-secondary text-center">Quiz #@Html.DisplayFor(model => model.QuizID)</h5>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2 text-info">
            @Html.DisplayNameFor(model => model.Topic)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Topic.Description)
        </dd>
        <dt class="col-sm-2 text-info">
            Questions
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfQuestions)
        </dd>
        <dt class="col-sm-2 text-info">
            @Html.DisplayNameFor(model => model.Score)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Score)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="UserContent" asp-action="Index">Back to List</a>
</div>
