@model WebUI.ViewModels.QuizViewModel
@{
    ViewData["Title"] = "Render";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int counter = 1;


}
<head>
    <style>
        .card{
            background-color: #38675d;
            color: #909f12;
        }
        .nav-text{
            pointer-events: none;
        }
    </style>
</head>
<h1 class="nav-text text-center">Multiple Choice Quiz</h1>
<p class="pt-2"></p>
<body>
    <div class="d-flex justify-content-center">
        <div class="col-sm-8">
            <form asp-action="FinalizeQuiz">
                @foreach (var item in Model.Questions)
                {
                    var sel = Model.Selections.Where(x => x.QuestionId == item.QuestionID).First();
                    <div class="card shadow p-1">
                        <div class="container-fluid">
                            <div class="form-group">
                                <h4 style="font-family: lobster" class="font-weight-bold"> @counter .@Html.DisplayFor(i => item.Body)</h4>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" asp-for="@Model.QidGuess[item.QuestionID]" value="@sel.Choice1.ToString()" />@sel.Choice1
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" asp-for="QidGuess[item.QuestionID]" value="@sel.Choice2.ToString()" />@sel.Choice2
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" asp-for="@Model.QidGuess[item.QuestionID]" value="@sel.Choice3.ToString()" />@sel.Choice3
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" asp-for="@Model.QidGuess[item.QuestionID]" value="@sel.Choice4.ToString()" />@sel.Choice4
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="p-2"></p>
                    counter++;
                }

                <input type="hidden" asp-for="Type" />
                <input type="hidden" asp-for="TopicID" />
                <input type="hidden" asp-for="NumberOfQuestions" />
                <input type="hidden" asp-for="Owner" />
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-outline-light btn-lg btn-block" />
                </div>
            </form>
        </div>
    </div>
</body>

@section Scripts{

    

}

