@model Domain.Entities.Question

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1 class="text-danger text-center">Delete Question #@Html.DisplayFor(model => model.QuestionID)</h1>

<h5 class="text-muted text-center">This cannot be undone</h5>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2 text-info">
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Body)
        </dd>
        <dt class = "col-sm-2 text-info">
            @Html.DisplayNameFor(model => model.Answer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Answer)
        </dd>
        <dt class = "col-sm-2 text-info">
            @Html.DisplayNameFor(model => model.Topic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Topic.TopicID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="QuestionID" />
        <input type="button" disabled value="Delete" class="btn btn-danger" /> |
        <a asp-controller="UserContent" asp-action="Index">Back to List</a>
    </form>
</div>
